.description {
  min-width: 784px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  color: #2f80ed;
  font-weight: normal;

}
.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
