.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title {
  max-width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.section-subtitle {
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}
 .cards__item:nth-of-type(3n) {
   margin-right: 0;
 }
.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}
.cards__title {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
