.header__main-illustration {
  max-width: 765px;
  max-height: 608px;
  z-index: 2;
  object-fit: contain;
  object-position: bottom right;
  align-self: flex-end;

}

@media screen and (max-width: 1300px) {
  .header__main-illustration {
    max-width: 500px;
    max-height: 450px;
  }
}

@media screen and (max-width: 900px) {
  .header__main-illustration {
    max-width: 450px;
    max-height: 300px;
  }
}
