.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #f2f2f2;

}

.border {
  border: 1px solid #6e6e6e;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  color: #000;
}

.title {
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  font-weight: bold;
  font-size: 102px;
  flex-direction: column;
  align-self: center;

}

.subtitle {

  font-size: 18px;
  line-height: 25px;
  width: 388px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header-link {
  text-decoration: none;
  color: #2f80ed;
}




.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

}

.square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;

}

.description {
  min-width: 784px;
  display: flex;
  justify-content: center;
}

.content__description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;




}

.two-columns__brief {
  display: flex;
  justify-content: space-between;

}

.two-columns__title {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;


}

.two-columns__main-text {
  width: 80%;

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;

}

.digital {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;

}

.digital__table {
  margin-bottom: 100px;
}

.table__cell {
  display: flex;
  flex-direction: column;

}

.table__cell_digital {
  width: 250px;
  margin-top: 60px;
}


.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_padding {
  margin-top: 20px;
}

.feynman {
  height: 890px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

}

.feynman_title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  z-index: 1;
}

.feynman_subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  margin-top: 70px;
  z-index: 1;
}

.feynman_link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
}

.feynman_img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;

}


.kaufman {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;


}


.section-title_theme_dark {
  color: #FFFFFF;
  margin-top: 90px;


}

.section-subtitle_theme_dark {
  color: #FFFFFF;
}

.table_theme_dark {
  color: #FFFFFF;
  margin-bottom: 90px;
  z-index: 1;


}

.table__cell_theme_dark {
  color: #FFFFFF;
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #FFFFFF;
}

.table__text_theme_dark {
  color: #FFFFFF;
}

.kaufman_triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}


.footer {
  background-color: #000;
  min-height: 350px;
  color: #FFFFFF;
}



.footer__columns {
  width: 90%;
  height: 250px;
  margin: auto;
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;



}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(102%) contrast(102%);

}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}





.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;

}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;

}

.footer__column-link {
  color: #FFFFFF;
  margin: 0;
  margin-top: 16px;
  text-decoration: none;

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}
