.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  height: fit-content;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.5s linear 0s;
}

.khan__buy-link:hover {
  opacity: 30%;
}
